@use './mixins' as *;
@use './functions' as *;
@use './variables' as *;

.wrapper {
   margin: 0 auto;
   padding-top: $header-height;
   width: 92%;
   min-width: rem(280px);
   max-width: rem(420px);
   height: 100%;

   @include breakpoint(small) {
      width: 90%;
      min-width: rem(420px);
      max-width: rem(800px);
   }

   @include breakpoint(medium) {
      min-width: rem(800px);
      max-width: rem(970px);
   }

   @include breakpoint(large) {
      width: 86%;
      min-width: rem(970px);
      max-width: rem(1200px);
   }

   @include breakpoint(xlarge) {
      max-width: rem(1300px);
   }
}
