@use './mixins' as *;
@use './functions' as *;
@use './variables' as *;

.wrapper {
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding-top: calc($header-height + 3vh);
   padding-bottom: 3vh;
   width: 92%;
   min-width: rem(270px);
   max-width: rem(420px);
   min-height: 100vh;

   @include breakpoint(small) {
      width: 90%;
      min-width: rem(420px);
      max-width: rem(800px);
      padding-top: calc($header-height + 4vh);
      padding-bottom: 4vh;
   }

   @include breakpoint(medium) {
      min-width: rem(800px);
      max-width: rem(970px);
      padding-top: calc($header-height + 5vh);
      padding-bottom: 5vh;
   }

   @include breakpoint(large) {
      width: 88%;
      min-width: rem(970px);
      max-width: rem(1200px);
      padding-top: calc($header-height + 8vh);
      padding-bottom: 8vh;
   }

   @include breakpoint(xlarge) {
      max-width: rem(1400px);
      padding-top: calc($header-height + 10vh);
      padding-bottom: 10vh;
   }
}

.page-heading {
   margin-bottom: rem(32px);
   width: 100%;
   text-transform: uppercase;
   color: $white-color;
   text-align: center;

   @include breakpoint(small) {
      margin-bottom: rem(60px);
      text-align: start;
   }

   @include breakpoint(large) {
      margin-bottom: rem(64px);
   }

   & > span {
      margin-right: rem(18px);
      color: $white-alpha25-color;

      @include breakpoint(small) {
         margin-right: rem(19px);
      }

      @include breakpoint(large) {
         margin-right: rem(28px);
      }
   }
}
