@use './mixins' as *;
@use './functions' as *;
@use './variables' as *;

section {
   min-height: 100vh;
}

.wrapper {
   margin: 0 auto;
   display: flex;
   justify-content: center;
   width: 92%;
   min-width: rem(270px);
   max-width: rem(420px);

   @include breakpoint(small) {
      width: 90%;
      min-width: rem(420px);
      max-width: rem(800px);
   }

   @include breakpoint(medium) {
      min-width: rem(800px);
      max-width: rem(970px);
   }

   @include breakpoint(large) {
      width: 88%;
      min-width: rem(970px);
      max-width: rem(1200px);
   }

   @include breakpoint(xlarge) {
      max-width: rem(1400px);
   }
}

.page-heading {
   margin: 0 auto;
   width: 92%;
   min-width: rem(270px);
   max-width: rem(420px);
   padding-top: calc($header-height + rem(16px));
   padding-bottom: rem(32px);

   @include breakpoint(small) {
      width: 90%;
      min-width: rem(420px);
      max-width: rem(800px);
      padding-top: calc($header-height + rem(32px));
      padding-bottom: rem(60px);
   }

   @include breakpoint(medium) {
      min-width: rem(800px);
      max-width: rem(970px);
   }

   @include breakpoint(large) {
      width: 88%;
      min-width: rem(970px);
      max-width: rem(1200px);
      padding-top: calc($header-height + $header-margin-top + rem(32px));
   }

   @include breakpoint(xlarge) {
      max-width: rem(1400px);
   }

   & > h5 {
      width: 100%;
      text-transform: uppercase;
      color: $white-color;
      text-align: center;

      @include breakpoint(small) {
         text-align: start;
      }

      & > span {
         margin-right: rem(18px);
         color: $white-alpha25-color;

         @include breakpoint(small) {
            margin-right: rem(19px);
         }

         @include breakpoint(large) {
            margin-right: rem(28px);
         }
      }
   }
}
