@use './functions' as *;
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;1,400&display=swap');

// Colors
$dark-color: #0b0d17;
$light-color: #d0d6f9;
$white-color: #fefefb;
$white-alpha17-color: rgba(
   $color: $white-color,
   $alpha: 0.17,
);
$white-alpha25-color: rgba(
   $color: $white-color,
   $alpha: 0.25,
);
$white-alpha5-color: rgba(
   $color: $white-color,
   $alpha: 0.5,
);

// Fonts
$bellefair: 'Bellefair', serif;
$barlow: 'Barlow Condensed', sans-serif;

// Breakpoints
$breakpoints-up: (
   'small': rem(480px),
   'medium': rem(860px),
   'large': rem(1024px),
   'xlarge': rem(1400px),
);

$breakpoints-down: (
   'xsmall': rem(479px),
   'small': rem(859px),
   'medium': rem(1023px),
   'large': rem(1339px),
);

// Animation duration
$fade-animation-duration: 1s;
$header-open-duration: 1.2s;

// Misc
$header-height: rem(96px);
$header-margin-top: rem(40px);
