@use './functions' as *;
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

// Colors
$dark-color: #0b0d17;
$medium-color: #d0d6f9;
$light-color: #fffffe;

// Fonts
$bellefair: 'Bellefair', serif;
$barlow: 'Barlow Condensed', sans-serif;

// Font sizes
$regular-font-size: rem(16px);
$heading-1-size: rem(150px);
$heading-2-size: rem(100px);
$heading-3-size: rem(56px);
$heading-4-size: rem(32px);
$heading-5-size: rem(28px);
$heading-6-size: rem(14px);

// Breakpoints
$breakpoints-up: (
   'medium': rem(640px),
   'large': rem(1024px),
   'xlarge': rem(1400px),
);

$breakpoints-down: (
   'small': rem(639px),
   'medium': rem(1023px),
   'large': rem(1339px),
);
