@use '../../styles/index.scss' as *;

.spaceship {
   display: none;

   &.active {
      display: block;

      @include breakpoint(large) {
         display: flex;
      }

      & .wrapper {
         flex-direction: column;
         align-items: center;

         @include breakpoint(large) {
            flex-direction: row;
         }
      }
   }

   &__image {
      margin-bottom: rem(32px);

      @include breakpoint(small) {
         margin-bottom: rem(56px);
      }

      @include breakpoint(large) {
         order: 2;
         margin-bottom: 0;
      }

      @include breakpoint(xlarge) {
         margin-right: 12vw;
      }

      & > img {
         width: 100%;
         min-height: rem(175px);
         object-fit: cover;

         @include breakpoint(large) {
            height: 100%;
         }
      }
   }

   &__numbers {
      margin-bottom: rem(26px);

      @include breakpoint(small) {
         margin-bottom: rem(44px);
      }

      @include breakpoint(large) {
         display: flex;
         flex-direction: column;
         justify-content: center;
         margin-bottom: unset;
         height: 100%;
      }
   }

   &__text {
      padding-bottom: rem(32px);
      animation: fade-in-left $slide-animation-duration ease forwards;

      @include breakpoint(large) {
         width: rem(450px);
      }
   }

   &__terminology {
      margin-bottom: rem(9px);
      text-align: center;
      color: $light-color;

      @include breakpoint(small) {
         margin-bottom: rem(16px);
      }

      @include breakpoint(large) {
         text-align: start;
      }
   }

   & .wrapper {
      padding: 0;

      @include breakpoint(large) {
         flex-direction: row;
         order: 1;
         column-gap: rem(60px);
         min-width: unset;
         align-items: flex-end;
      }
   }

   &__name {
      margin-bottom: rem(16px);
      text-transform: uppercase;
      text-align: center;
      color: $white-color;

      @include breakpoint(small) {
         margin-bottom: rem(16px);
      }

      @include breakpoint(large) {
         text-align: start;
      }
   }

   &__description {
      max-width: rem(458px);
      text-align: center;
      color: $light-color;

      @include breakpoint(large) {
         max-width: rem(426px);
         text-align: start;
      }
   }
}
