@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;

html {
   font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
   font-weight: 400;
}

h1 {
   font-family: $bellefair;
   font-size: rem(80px);
   line-height: rem(100px);
   font-weight: 400;

   @include breakpoint(small) {
      font-size: rem(150px);
      line-height: rem(150px);
   }
   @include breakpoint(large) {
      line-height: rem(172px);
   }
}

h2 {
   font-family: $bellefair;
   font-size: rem(56px);
   line-height: rem(64px);
   font-weight: 400;

   @include breakpoint(small) {
      font-size: rem(80px);
      line-height: rem(92px);
   }
   @include breakpoint(large) {
      font-size: rem(100px);
      line-height: rem(115px);
   }
}

h3 {
   font-family: $bellefair;
   font-size: rem(24px);
   line-height: rem(28px);
   font-weight: 400;

   @include breakpoint(small) {
      font-size: rem(40px);
      line-height: rem(46px);
   }

   @include breakpoint(large) {
      font-size: rem(56px);
      line-height: rem(64px);
   }
}

h4 {
   font-family: $bellefair;
   font-size: rem(16px);
   line-height: rem(18px);
   font-weight: 400;

   @include breakpoint(small) {
      font-size: rem(24px);
      line-height: rem(28px);
   }

   @include breakpoint(large) {
      font-size: rem(32px);
      line-height: rem(37px);
   }
}

h5 {
   &.heading {
      font-size: rem(16px);
      font-family: $barlow;
      line-height: rem(19.2px);
      letter-spacing: rem(2.7px);
      font-weight: 300;

      @include breakpoint(small) {
         font-size: rem(20px);
         line-height: rem(24px);
         letter-spacing: rem(3.375px);
      }
      @include breakpoint(large) {
         font-size: rem(28px);
         line-height: rem(33.6px);
         letter-spacing: rem(4.725px);
      }
   }

   &.subheading {
      font-family: $bellefair;
      font-size: rem(28px);
      line-height: rem(32px);
      font-weight: 400;
   }
}

h6 {
   font-family: $barlow;
   font-size: rem(14px);
   line-height: rem(17px);
   letter-spacing: rem(2.365px);
   font-weight: 300;
}

a,
a:visited,
a:active {
   text-decoration: none;
}

p {
   font-family: $barlow;
   font-size: rem(15px);
   line-height: rem(25px);
   font-weight: 300;

   @include breakpoint(small) {
      font-size: rem(16px);
      line-height: rem(28px);
   }
   @include breakpoint(large) {
      font-size: rem(18px);
      line-height: rem(32.6px);
   }
}

.nav-item {
   font-family: $barlow;
   font-size: rem(14px);
   line-height: rem(16.8px);
   letter-spacing: rem(2.3625px);
   font-weight: 300;
   text-transform: uppercase;

   @include breakpoint(small) {
      font-size: rem(16px);
      line-height: rem(19.2px);
      letter-spacing: rem(2.7px);
   }
}
